<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    xmlns:tools="http://schemas.android.com/tools">
    <!-- This feature module doesn't contain code. -->
    <application android:hasCode="false" />
    <dist:module
        dist:instant="false"
        dist:title="@string/title_ondemand_sample">
        <dist:delivery>
            <dist:on-demand />
        </dist:delivery>
        <dist:fusing dist:include="false" />
    </dist:module>
</manifest>